04-front-end/node_modules/
04-front-end/build/
04-front-end/.DS_Store
04-front-end/npm-debug.log*
04-front-end/yarn-debug.log*
04-front-end/yarn-error.log*
.idea/
03-back-end/node_modules/
03-back-end/dist/
03-back-end/keystore/
03-back-end/.env